.layout {
	width: 100%;
	height: 100vh;
	display: flex;

	&-side-menu {
		width: fit-content;
		height: 100%;
		flex: none;
		border-right: 1px solid #F0F0F0;

		&-wrapper {
			width: 100%;
			height: fit-content;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 6px;
			padding: 6px;
		}
	}

	&-wrapper {
		flex: auto;
		width: 100px;
		height: 100%;
	}
}

.item {
	width: 60px;
	height: fit-content;
	border-radius: 6px;
	padding: 6px 6px;
	float: left;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: background-color linear 0.2s;
	user-select: none;

	&:hover {
		background-color: #F0F0F0;
	}

	&-icon {
		width: fit-content;
		height: fit-content;
		flex: none;
	}

	&-text {
		font-size: 12px;
		margin-top: 6px;
		text-align: center;
		width: 100%;
		display: inline-block;
	}
}

.context {
	&-menu {
		width: 140px;

		:global {
			.ant-dropdown-menu {
				padding: 0;
				overflow: hidden;

				&-item {
					margin-left: 4px !important;
					margin-right: 4px !important;

					&:first-child {
						margin-top: 4px !important;
					}

					&:last-child {
						margin-bottom: 4px !important;
					}
				}
			}
		}
	}
}
